body {
  margin: 0 0;
  background-color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* background-image: radial-gradient(red,blue); */
  /* background-image: url("../img/cast.jpg"); */
  /* background-repeat: no-repeat;
  background-position: right; */
  border: 50px red solid;
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* background-attachment:fixed; */
  background-origin: content-box;



}



@keyframes fly {
    0%, 100% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(400px,0);
    }
}
label{
    color: white;
}
h2 {
   color: white;
}

.falcon {
    animation-name: fly;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    
  width: 200px;
}


li.example {
  font-size: 2em;
  color: red;
}


table {
  color: white;
  width: 100%;
  border: 10px red solid;
  background-color: teal;
}

tr {
  height: 100px;
}

td {
  border: 10px yellow solid;
}

img {
  max-width: 100%;
}

img.logo {

  width: 50%;
  height: auto;
}

header {
  /* background-color: darkblue; */
  padding: 10px;
  text-align: center;
}

.cast > ul > li {
  color: red;
  list-style-type: none;

}
h1,p {
  color: red;
}

nav > ul > li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

nav > ul > li > a, h1 {
  font-size: 2em;
}

a:link {
  color: white;
}

a:visited {
  color: lightgray;
}

a:hover {
  color: black;
  background-color: red;
}

.container {
  width: 60%;
  margin: 0 auto;
  background-color: black;
}

footer {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}

footer:hover {
    background-color: cyan;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

p:first-letter {
  font-size: 2em;
}

p:first-line {
  font-weight: bold;
  color: red;
}

.about {
  /* position: absolute;
  z-index: -100;
  left: 50px; */
  float: left;
  width: 500px;
  height: 500px;
  border: 2px red solid;
  padding: 50px;
  margin: 25px;
  box-shadow: 5px 10px black;
  background-color: rgba(255,0,0,0.5);
  box-sizing: border-box;
  /* visibility: hidden; */
  display: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}
